body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#navbarContainer {
    position: absolute;
    bottom: 20px; /* Haritanın altına yakın olacak şekilde ayarlanır */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000; /* Haritanın üstünde kalması için */
}

nav {
    background-color: rgba(255, 255, 255, 0.8); /* Yarı saydam bir arka plan */
    padding: 10px 20px;
    border-radius: 30px; /* Yuvarlatılmış köşeler */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

nav img {
    height: 40px;
    margin-right: 10px; /* Resim ile butonlar arasındaki boşluk */
}

nav button {
    background-color: #041490;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 20px; /* Yuvarlatılmış köşeler */
}

nav button:hover {
    background-color: #046ccc;
}

.map {
    width: 100%;
    height: 100vh;
    transition: filter 0.5s ease, background-color 0.5s ease;
}

.controls {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#toggle-dark-mode button {
    margin-bottom: 10px;
    background-color: white;
    border: none;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease;
    font-size: 500px;
}


#return-to-origin button {
    background-color: white;
    border: none;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease;
    font-size: 36px;
}

/* Dark Mode Stili ve Animasyon */
.dark-mode .map {
    filter: invert(1) hue-rotate(180deg);
}

.dark-mode body {
    background-color: #121212;
    transition: background-color 0.5s ease;
}


.popup {
    position: fixed;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 300px;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.popup input {
    width: calc(100% - 22px);
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
}

button {
    background-color: #041490;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button:hover {
    background-color: #046ccc;
}

